<header id="navbar" class="d-print-none">
    <div class="container-fluid">
        <nav>
            <a routerLink="/" class="logo">R<sub>x <span class="xm">alpha-1.1</span></sub></a>
            <!-- <a mat-raised-button routerLink="/" class="mr-2">Home</a> -->
            <!-- <a mat-raised-button routerLink="patients" class="mr-2">Patients</a> -->
            <!-- <a mat-raised-button routerLink="medicine" class="mr-2">Medicine</a> -->
            
            <!-- <button mat-raised-button [matMenuTriggerFor]="belowMenu">Dropdown</button>
            <mat-menu #belowMenu="matMenu" yPosition="below">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu> -->
        </nav>
    </div>
</header>
