#navbar {
    background: #3f51b5;
    padding: 1rem 0;
    margin-bottom: 3rem;
    nav {
        display: flex !important;
    }
}
.logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Iceland', cursive;
    margin-right: auto;
}

.xm {
    font-size: .8rem;
}