<div class="container">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table #myTable mat-table matSort [dataSource]="dataSource">
    
            <!-- Name Column -->
            <ng-container matColumnDef="medicine">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Medicine </th>
                <td mat-cell *matCellDef="let element"> {{element.medicine}} </td>
            </ng-container>
    
    
            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let element">
                    <!-- <a mat-raised-button color="primary" class="mr-2" routerLink="patients/{{element.id}}">
                        <i class="material-icons">visibility</i>
                    </a>
                    <a mat-raised-button color="accent" class="mr-2" routerLink="patients/edit/{{element.id}}">
                        <i class="material-icons">edit</i>
                    </a> -->
                    <button mat-raised-button color="warn" (click)="delete(element)">
                        <i class="material-icons">delete</i>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

    <form #medicineForm="ngForm" (ngSubmit)="medicine(medicineForm.value); medicineForm.reset()" class="form">
        <mat-form-field class="form-field">
            <textarea matInput ngModel name="medicine" placeholder="Medicine"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Add</button>
    </form>
</div>
