<div class="container">
    <div class="row">
        <div class="col-md-3 d-print-none">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar [ngStyle]="{ 'background-image': 'url(' + patient.avatar + ')', 'background-size': 'cover'}"></div>
                    <mat-card-title>{{ patient.name }}</mat-card-title>
                    <mat-card-subtitle><strong>Sex:</strong> {{ patient.sex }} <strong>Age:</strong> {{ patient.age }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <strong>Blood Group:</strong> {{ patient.blood_group }} <br>
                    <strong>Phone:</strong> {{ patient.phone }} <br>
                    <strong>Email:</strong> {{ patient.email }} <br>
                    <strong>Address:</strong> {{ patient.address }}
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-3">
                Encounters
                <mat-card-content>
                    <mat-list>
                        <a mat-button *ngFor="let e of encounters; index as i"
                        routerLink="/patients/{{id}}/"
                        [queryParams]="{ encounter: e.id }"
                        [class.active]="encounterId == e.id">
                            <strong>Encounter-{{ i+1 }}</strong> [{{ e.date }}]
                        </a>
                    </mat-list>
                </mat-card-content>
            </mat-card>
            <div class="mat-elevation-z8">
            </div>

            <form #encounterForm="ngForm" (ngSubmit)="encounter(encounterForm.value)" class="mat-form">
                <mat-form-field class="mat-form-field" hidden="true">
                    <input matInput [matDatepicker]="picker" ngModel name="date" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="mat-form-field">
                    <mat-label>Visit Type</mat-label>
                    <mat-select ngModel name="visit_type">
                        <mat-option *ngFor="let v of visit" [value]="v.key">
                        {{ v.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-raised-button color="primary">Submit</button>
            </form>
        </div>
        <div class="col-md-9">
            <mat-tab-group>
                <mat-tab label="C/C">
                    <mat-list>
                        <mat-list-item *ngFor="let s of symptoms">
                            <h4 matLine>{{ s.symptom }}</h4>
                            <button mat-icon-button color="primary" (click)="sigleSymptom(s)">
                                <i class="material-icons">edit</i>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteSymptom(s)">
                                <i class="material-icons">delete</i>
                            </button>
                        </mat-list-item>
                    </mat-list>
                    <form #symptomForm="ngForm" (ngSubmit)="symptom(symptomForm.value); symptomForm.reset()" class="mat-form">
                        <mat-form-field class="mat-form-field" hidden>
                            <textarea matInput [(ngModel)]="symp.id" name="id" placeholder="Id"></textarea>
                        </mat-form-field>
                        <mat-form-field class="mat-form-field" hidden>
                            <textarea matInput [(ngModel)]="symp.patient" name="patient" placeholder="Patient"></textarea>
                        </mat-form-field>
                        <mat-form-field class="mat-form-field">
                            <textarea matInput [(ngModel)]="symp.symptom" #sym="ngModel" name="symptom" placeholder="Symptom" required></textarea>
                            <mat-error *ngIf="sym.touched && sym.invalid">The <strong>symptom</strong> field is required.</mat-error>
                        </mat-form-field>
                        <button mat-raised-button type="button" color="warn" (click)="symptomForm.reset(); symp = []" class="mr-2">Reset</button>
                        <button mat-raised-button color="primary" [disabled]="symptomForm.invalid">{{ symp.length !== undefined ? 'Add' : 'Update' }}</button>
                    </form>

                </mat-tab>
                <mat-tab label="Examination">
                    <form #reportForm="ngForm" (ngSubmit)="report(reportForm.value); reportForm.reset()" class="mat-form">
                        <mat-form-field class="mat-form-field" hidden>
                            <input matInput [(ngModel)]="examination.id" name="id" placeholder="id">
                        </mat-form-field>
                        <mat-form-field class="mat-form-field">
                            <input matInput [(ngModel)]="examination.pulse" name="pulse" placeholder="Pulse">
                        </mat-form-field>
                        <mat-form-field class="mat-form-field">
                            <input matInput [(ngModel)]="examination.bp" name="bp" placeholder="BP">
                        </mat-form-field>
                        <mat-form-field class="mat-form-field">
                            <input matInput [(ngModel)]="examination.temp" name="temp" placeholder="Temp">
                        </mat-form-field>
                        <mat-form-field class="mat-form-field">
                            <input matInput [(ngModel)]="examination.resp_rate" name="resp_rate" placeholder="Resp rate">
                        </mat-form-field>
                        <mat-form-field class="mat-form-field">
                            <input matInput [(ngModel)]="examination.height" name="height" placeholder="Height">
                        </mat-form-field>
                        <mat-form-field class="mat-form-field">
                            <input matInput [(ngModel)]="examination.lifestyle" name="lifestyle" placeholder="Lifestyle">
                        </mat-form-field>
                        <button mat-raised-button color="primary" [disabled]="reportForm.invalid">{{ examination.id ? 'Update' : 'Add' }}</button>
                    </form>
                </mat-tab>
                <mat-tab label="Medicine">
                    <div *ngIf="encount.length === undefined">
                        <div *ngFor="let n of encount.medicines">
                            <div *ngFor="let m of medicines">
                                <div *ngIf="n === m.id" class="mb-3">{{ m.medicine }}</div>
                            </div>
                        </div>
                        <form #medicineForm="ngForm" (ngSubmit)="medicine(medicineForm.value)" class="mat-form">
                            <mat-form-field class="mat-form-field">
                                <mat-label>Medicine</mat-label>
                                <mat-select [(ngModel)]="encount.medicines" name="medicines" multiple>
                                  <mat-option *ngFor="let m of medicines" [value]="m.id" selected>{{m.medicine}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button mat-raised-button color="primary">Add</button>
                        </form>
                    </div>
                    <div *ngIf="encount.length !== undefined">
                        Please select encounter first!
                    </div>
                </mat-tab>
                <mat-tab label="Advice">
                    <mat-list>
                        <mat-list-item *ngFor="let a of advices">
                            <h4 matLine>{{ a.advice }}</h4>
                            <button mat-icon-button color="warn" (click)="singleAdvice(a)">
                                <i class="material-icons">edit</i>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteAdvice(a)">
                                <i class="material-icons">delete</i>
                            </button>
                        </mat-list-item>
                    </mat-list>
                    <form #adviceForm="ngForm" (ngSubmit)="advice(adviceForm.value); adviceForm.reset()" class="mat-form">
                        <mat-form-field class="mat-form-field" hidden>
                            <textarea matInput [(ngModel)]="advic.id" name="id" placeholder="Id"></textarea>
                        </mat-form-field>
                        <mat-form-field class="mat-form-field">
                            <textarea matInput [(ngModel)]="advic.advice" #adv="ngModel" name="advice" placeholder="Advice" required></textarea>
                            <mat-error *ngIf="adv.touched && adv.invalid">The <strong>advice</strong> field is required.</mat-error>
                        </mat-form-field>
                        <button mat-raised-button type="button" color="warn" (click)="adviceForm.reset(); advic = []" class="mr-2">Reset</button>
                        <button mat-raised-button color="primary" [disabled]="adviceForm.invalid">{{ advic.length !== undefined ? 'Add' : 'Update' }}</button>
                    </form>
                </mat-tab>
                <mat-tab label="Prescription">
                    <mat-card class="example-card" #print>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-8">
                                    <strong class="text-capitalize">DR: SAGAR MALLIK</strong> <br>
                                    <strong>DHMS</strong> <br>
                                    Stength: General <br>
                                    Reg. No.- 55065
                                </div>
                                <div class="col-4">
                                    <strong>Maa Homeo Pharmacy</strong> <br>
                                    <strong>Phone:</strong> +88 01777-334628 <br>
                                    <strong>Email:</strong>	info@maahomeo.com <br>
                                    <strong>Website:</strong> www.maahomeo.com
                                </div>
                            </div>
                            <hr>
                            <div class="">
                                <h3 class="text-center">Patient: <strong>{{ patient.name }}</strong></h3>
                                <div class="row align-items-middle">
                                    <div class="col-9">
                                        <strong>Sex:</strong> {{ patient.sex }} <strong>Age:</strong> {{ patient.age }} <strong>Blood Group:</strong> {{ patient.blood_group }} <br>
                                        <strong>Phone:</strong> {{ patient.phone }} <strong>Email:</strong> {{ patient.email }} <br> <strong>Address:</strong> {{ patient.address }}
                                    </div>
                                    <div class="col-3">
                                        <strong>Encounter Id: </strong> <qrcode qrdata="1" [size]="30" [level]="'L'"></qrcode><br>
                                        <strong>Date: </strong> {{ encount.date }}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <hr>
                            <div class="row">
                                <div class="col-4">
                                    <h4>Symptoms</h4> <hr>
                                    <ul>
                                        <li *ngFor="let s of symptoms">
                                            {{ s.symptom }}
                                        </li>
                                    </ul>
                                    <h4>General Info</h4> <hr>
                                    <ul>
                                        <li>Pulse: {{ examination.pulse }}</li>
                                        <li>B.P.: {{ examination.bp }}</li>
                                        <li>Temp: {{ examination.temp }}</li>
                                        <li>Resp rate: {{ examination.resp_rate }}</li>
                                        <li>Height: {{ examination.height }}</li>
                                        <li>Lifestyle: {{ examination.lifestyle }}</li>
                                    </ul>
                                    <h4>Advices</h4> <hr>
                                    <ul>
                                        <li *ngFor="let a of advices">
                                            {{ a.advice }}
                                        </li>
                                    </ul>

                                </div>
                                <div class="col-8">
                                    <h4>Medicines</h4> <hr>
                                    <ul *ngFor="let n of encount.medicines">
                                        <div *ngFor="let m of medicines">
                                            <li *ngIf="n === m.id">{{ m.medicine }}</li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-footer>
                            <div class="text-center copyright">Designed & Developed By: <strong>Team R<sub>x</sub></strong></div>
                        </mat-card-footer>
                    </mat-card>

                    <button mat-raised-button color="primary" (click)="printPage()" class="mt-3 float-right  d-print-none">Print</button>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
