<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form #heroForm="ngForm" (ngSubmit)="save(heroForm.value)" class="example-form">
                <div class="row">
                    <div class="col-md-8">
                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="patient.name" #name="ngModel" name="name" placeholder="Patient Name" required>
                            <mat-error *ngIf="name.touched && name.invalid">The <strong>name</strong> field is required.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput type="number" [(ngModel)]="patient.age" #age="ngModel" name="age" placeholder="Age" required>
                            <mat-error *ngIf="age.touched && age.invalid">The <strong>age</strong> field is required.</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-label>Sex</mat-label>
                            <mat-select [(ngModel)]="patient.sex" #sex="ngModel" name="sex" required>
                                <mat-option *ngFor="let s of sex" [value]="s.key">
                                {{ s.value }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="sex.touched && sex.invalid">The <strong>sex</strong> field is required.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-label>Blood Group</mat-label>
                            <mat-select [(ngModel)]="patient.blood_group" name="blood_group">
                                <mat-option *ngFor="let b of blood" [value]="b.key">
                                {{ b.value }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <div class="example-full-width">
                            <input type="file" ngModel name="avatar" placeholder="Avatar">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="patient.phone" #phone="ngModel" name="phone" placeholder="Phone" required>
                            <mat-error *ngIf="phone.touched && phone.invalid">The <strong>phone</strong> field is required.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="patient.email" name="email" placeholder="Email">
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                    <textarea matInput [(ngModel)]="patient.address" name="address" placeholder="Address"></textarea>
                </mat-form-field>

                <button mat-raised-button color="primary">Submit</button>
            </form>
    
        </div>
        <div class="col-md-4">
            <img [src]="patient.avatar" alt="">
            <h4>{{ patient.name }}</h4>
            <h4>{{ patient.address }}</h4>
    
        </div>
    </div>
</div>
