<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form #patientForm="ngForm" (ngSubmit)="save(patientForm.value)" class="mat-form">
                <div class="row">
                    <div class="col-md-8">
                        <mat-form-field class="mat-form-field">
                            <input matInput [(ngModel)]="patient.name" #name="ngModel" name="name" placeholder="Patient Name" required>
                            <mat-error *ngIf="name.touched && name.invalid">The <strong>name</strong> field is required.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field">
                            <input matInput type="number" [(ngModel)]="patient.age" #age="ngModel" name="age" placeholder="Age" required>
                            <mat-error *ngIf="age.touched && age.invalid">The <strong>age</strong> field is required.</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field">
                            <mat-label>Sex</mat-label>
                            <mat-select [(ngModel)]="patient.sex" name="sex" required>
                                <mat-option *ngFor="let s of sex" [value]="s.key">
                                {{ s.value }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field">
                            <mat-label>Blood Group</mat-label>
                            <mat-select [(ngModel)]="patient.blood_group" name="blood_group">
                                <mat-option *ngFor="let b of blood" [value]="b.key">
                                {{ b.value }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <div class="mat-form-field">
                            <input type="file" ngModel name="avatar" (change)="onFileSelected($event)" placeholder="Avatar">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="mat-form-field">
                            <input matInput [(ngModel)]="patient.phone" #phone="ngModel" phone="CN" name="phone" placeholder="Phone" required>
                            <mat-error *ngIf="phone.touched && phone.invalid">The <strong>phone</strong> field is required.</mat-error>
                            <mat-error *ngIf="phone.errors?.phone">error message</mat-error>

                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="mat-form-field">
                            <input matInput [(ngModel)]="patient.email" #email="ngModel" name="email" placeholder="Email" email>
                            <mat-error *ngIf="email.errors?.email">Please enter a valid email.</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field class="mat-form-field">
                    <textarea matInput [(ngModel)]="patient.address" name="address" placeholder="Address"></textarea>
                </mat-form-field>

                <button mat-raised-button [disabled]="patientForm.invalid" color="primary">Submit</button>
            </form>

        </div>
        <div class="col-md-4">
            <mat-card class="example-card" *ngIf="patient.length === undefined">
                <mat-card-header>
                    <mat-card-title>{{ patient.name }}</mat-card-title>
                    <mat-card-subtitle><strong>Sex:</strong> {{ patient.sex }} <strong>Age:</strong> {{ patient.age }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="patient.avatar" alt="{{ patient.name }}">
                <mat-card-content>
                    <strong>Blood Group:</strong> {{ patient.blood_group }} <br>
                    <strong>Phone:</strong> {{ patient.phone }} <br>
                    <strong>Email:</strong> {{ patient.email }} <br>
                    <strong>Address:</strong> {{ patient.address }}
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>
