<div class="container">
    <div class="row">
        <div class="col-md-3 d-print-none">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar [ngStyle]="{ 'background-image': 'url(' + patient.avatar + ')', 'background-size': 'cover'}"></div>
                    <mat-card-title>{{ patient.name }}</mat-card-title>
                    <mat-card-subtitle><strong>Sex:</strong> {{ patient.sex }} <strong>Age:</strong> {{ patient.age }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <strong>Blood Group:</strong> {{ patient.blood_group }} <br>
                    <strong>Phone:</strong> {{ patient.phone }} <br>
                    <strong>Email:</strong> {{ patient.email }} <br>
                    <strong>Address:</strong> {{ patient.address }}
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-3">
                Encounters
                <mat-card-content>
                    <mat-list>
                        <a mat-button *ngFor="let e of patient.encounters; index as i"
                        routerLink="/patients/{{id}}/"
                        [queryParams]="{ encounter: e.id }"
                        [class.active]="encounterId == e.id">
                            <strong>{{ e.date }}</strong> 
                        </a>
                    </mat-list>
                </mat-card-content>
            </mat-card>
            <div class="mat-elevation-z8">
            </div>

            <form #encounterForm="ngForm" (ngSubmit)="encounter(encounterForm.value)" class="mat-form">
                <mat-form-field class="mat-form-field" hidden="true">
                    <input matInput [matDatepicker]="picker" ngModel name="date" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="mat-form-field">
                    <mat-label>Visit Type</mat-label>
                    <mat-select ngModel name="visit_type">
                        <mat-option *ngFor="let v of visit" [value]="v.key">
                        {{ v.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-raised-button color="primary">Submit</button>
            </form>
        </div>
        <div class="col-md-9">
            <mat-tab-group>
                <mat-tab label="C/C">
                    <!-- <mat-list>
                        <mat-list-item *ngFor="let symptom of encount.symptoms">
                            <h4 matLine>{{ symptom.symptom }}</h4>
                            <button mat-icon-button color="warn" (click)="deleteSymptom(symptom)">
                                <i class="material-icons">delete</i>
                            </button>
                        </mat-list-item>
                    </mat-list> -->

                    <form #symptomForm="ngForm" (ngSubmit)="symptom(symptomForm.value)" class="mat-form">
                        <mat-form-field class="mat-form-field">
                            <mat-label>Symptom</mat-label>
                            <mat-select [(ngModel)]="encount.symptoms_id" name="symptoms" multiple>
                              <mat-option *ngFor="let symptom of symptoms" [value]="symptom.id" selected>{{ symptom.symptom }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-raised-button color="primary">Add</button>
                    </form>
                </mat-tab>

                <mat-tab label="O/E">
                    <form #reportForm="ngForm" (ngSubmit)="report(reportForm.value); reportForm.reset()" class="mat-form">
                        <mat-form-field class="mat-form-field" hidden>
                            <input matInput [(ngModel)]="examination.id" name="id" placeholder="id">
                        </mat-form-field>
                        <mat-form-field class="mat-form-field">
                            <input matInput type="number" [(ngModel)]="examination.pulse" name="pulse" placeholder="Pulse">
                        </mat-form-field>
                        <mat-form-field class="mat-form-field">
                            <input matInput [(ngModel)]="examination.bp" name="bp" placeholder="BP">
                        </mat-form-field>
                        <mat-form-field class="mat-form-field">
                            <input matInput type="number" [(ngModel)]="examination.temp" name="temp" placeholder="Temp">
                        </mat-form-field>
                        <mat-form-field class="mat-form-field">
                            <input matInput type="number" [(ngModel)]="examination.resp_rate" name="resp_rate" placeholder="Resp rate">
                        </mat-form-field>
                        <mat-form-field class="mat-form-field">
                            <input matInput type="number" [(ngModel)]="examination.height" name="height" placeholder="Height">
                        </mat-form-field>
                        <mat-form-field class="mat-form-field">
                            <input matInput [(ngModel)]="examination.lifestyle" name="lifestyle" placeholder="Lifestyle">
                        </mat-form-field>
                        <button mat-raised-button color="primary" [disabled]="reportForm.invalid">{{ examination.id ? 'Update' : 'Add' }}</button>
                    </form>
                </mat-tab>

                
                <mat-tab label="Medicine">
                    <div *ngIf="encount.length === undefined">
                        <!-- <div *ngFor="let medicine of encount.medicines">
                            <div>{{ medicine.name }} {{ medicine.power.name }}</div>
                        </div> -->
                        <form #medicineForm="ngForm" (ngSubmit)="medicine(medicineForm.value)" class="mat-form">
                            <mat-form-field class="mat-form-field">
                                <mat-label>Medicine</mat-label>
                                <mat-select [(ngModel)]="encount.medicines_id" name="medicines" multiple>
                                  <mat-option *ngFor="let medicine of medicines" [value]="medicine.id" selected>{{ medicine.name }} {{ medicine.power.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button mat-raised-button color="primary">Add</button>
                        </form>
                    </div>
                    <div *ngIf="encount.length !== undefined">
                        Please select encounter first!
                    </div>
                </mat-tab>
                <mat-tab label="Advice">
                    <!-- <mat-list>
                        <mat-list-item *ngFor="let advice of encount.advices">
                            <h4 matLine>{{ advice.advice }}</h4>
                            <button mat-icon-button color="warn" (click)="deleteAdvice(advice)">
                                <i class="material-icons">delete</i>
                            </button>
                        </mat-list-item>
                    </mat-list> -->

                    <form #adviceForm="ngForm" (ngSubmit)="advice(adviceForm.value)" class="mat-form">
                        <mat-form-field class="mat-form-field">
                            <mat-label>Advice</mat-label>
                            <mat-select [(ngModel)]="encount.advices_id" name="advices" multiple>
                              <mat-option *ngFor="let advice of advices" [value]="advice.id" selected>{{ advice.advice }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-raised-button color="primary">Update</button>
                    </form>
                </mat-tab>
                <mat-tab label="Prescription">
                    <mat-card class="example-card" #print>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-8">
                                    <strong class="text-capitalize">DR: SAGAR MALLIK</strong> <br>
                                    <strong>DHMS</strong> <br>
                                    Stength: General <br>
                                    Reg. No.- 55065
                                </div>
                                <div class="col-4">
                                    <strong>Maa Homeo Pharmacy</strong> <br>
                                    <strong>Phone:</strong> +88 01777-334628 <br>
                                    <strong>Email:</strong>	info@maahomeo.com <br>
                                    <strong>Website:</strong> www.maahomeo.com
                                </div>
                            </div>
                            <hr>
                            <div class="">
                                <h3 class="text-center">Patient: <strong>{{ patient.name }}</strong></h3>
                                <div class="row align-items-middle">
                                    <div class="col-9">
                                        <strong>Sex:</strong> {{ patient.sex }} <strong>Age:</strong> {{ patient.age }} <strong>Blood Group:</strong> {{ patient.blood_group }} <br>
                                        <strong>Phone:</strong> {{ patient.phone }} <strong>Email:</strong> {{ patient.email }} <br> <strong>Address:</strong> {{ patient.address }}
                                    </div>
                                    <div class="col-3">
                                        <strong>Encounter Id: </strong> <qrcode qrdata="1" [size]="30" [level]="'L'"></qrcode><br>
                                        <strong>Date: </strong> {{ encount.date }}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <hr>
                            <div class="row">
                                <div class="col-4">
                                    <h4>Symptoms</h4> <hr>
                                    <ul>
                                        <li *ngFor="let s of encount.symptoms">
                                            {{ s.symptom }}
                                        </li>
                                    </ul>
                                    <h4>General Info</h4> <hr>
                                    <ul>
                                        <li>Pulse: {{ encount.examination.pulse }}</li>
                                        <li>B.P.: {{ encount.examination.bp }}</li>
                                        <li>Temp: {{ encount.examination.temp }}</li>
                                        <li>Resp rate: {{ encount.examination.resp_rate }}</li>
                                        <li>Height: {{ encount.examination.height }}</li>
                                        <li>Lifestyle: {{ encount.
                                            examination.lifestyle }}</li>
                                    </ul>
                                    <h4>Advices</h4> <hr>
                                    <ul>
                                        <li *ngFor="let a of encount.advices">
                                            {{ a.advice }}
                                        </li>
                                    </ul>

                                </div>
                                <div class="col-8">
                                    <h4>Medicines</h4> <hr>
                                    <ul *ngFor="let medicine of encount.medicines">
                                        <li>{{ medicine.name }} {{ medicine.power.name }}</li>
                                    </ul>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-footer>
                            <div class="text-center copyright">Designed & Developed By: <strong>Team R<sub>x</sub></strong></div>
                        </mat-card-footer>
                    </mat-card>

                    <button mat-raised-button color="primary" (click)="printPage()" class="mt-3 float-right  d-print-none">Print</button>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
