<div class="container">
    <div class="row">
        <div class="col-md-3">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ patient.name }}</mat-card-title>
                    <mat-card-subtitle><strong>Sex:</strong> {{ patient.sex }} <strong>Age:</strong> {{ patient.age }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <strong>Blood Group:</strong> {{ patient.blood_group }} <br>
                    <strong>Phone:</strong> {{ patient.phone }} <br>
                    <strong>Email:</strong> {{ patient.email }} <br>
                    <strong>Address:</strong> {{ patient.address }}
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-3">
                Encounters
                <mat-card-content>
                    <mat-list>
                        <a mat-button *ngFor="let e of encounters; index as i"
                        routerLink="/patients/{{id}}/"
                        [queryParams]="{ encounter: e.id }"
                        [class.active]="encounterId == e.id">
                            <strong>Encounter-{{ i+1 }}</strong> [{{ e.date }}]
                        </a>
                    </mat-list>
                </mat-card-content>
            </mat-card>
            <div class="mat-elevation-z8">
            </div>

            <form #encounterForm="ngForm" (ngSubmit)="encounter(encounterForm.value)" class="form">
                <mat-form-field class="form-field">
                    <input matInput [matDatepicker]="picker" ngModel name="date" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Visit Type</mat-label>
                    <mat-select ngModel name="visit_type">
                        <mat-option *ngFor="let v of visit" [value]="v.key">
                        {{ v.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-raised-button color="primary">Submit</button>
            </form>
        </div>
        <div class="col-md-9">
            <mat-tab-group>
                <mat-tab label="C/C">
                    <mat-list>
                        <mat-list-item *ngFor="let s of symptoms"> {{ s.symptom }}
                        </mat-list-item>
                    </mat-list>
                    <form #symptomForm="ngForm" (ngSubmit)="symptom(symptomForm.value); symptomForm.reset()" class="form">
                        <mat-form-field class="form-field">
                            <textarea matInput ngModel name="symptom" placeholder="Symptom"></textarea>
                        </mat-form-field>
                        <button mat-raised-button color="primary">Add</button>
                    </form>
                </mat-tab>
                <mat-tab label="Examination">
                    <div *ngIf="examination">
                        <strong>Pulse:</strong> {{ examination.pulse }} <br>
                        <strong>BP:</strong> {{ examination.bp }} <br>
                        <strong>temp:</strong> {{ examination.temp }} <br>
                        <strong>resp_rate:</strong> {{ examination.resp_rate }} <br>
                        <strong>height:</strong> {{ examination.height }} <br>
                        <strong>lifestyle:</strong> {{ examination.lifestyle }}
                    </div> 
                </mat-tab>
                <mat-tab label="Medicine">
                    <div *ngFor="let n of encount.medicines">{{ medicines[n-1].medicine }}</div>
                    <form #medicineForm="ngForm" (ngSubmit)="medicine(medicineForm.value); medicineForm.reset()" class="form">
                        <mat-form-field class="form-field">
                            <mat-label>Medicine</mat-label>
                            <mat-select ngModel name="medicines" multiple>
                              <mat-option *ngFor="let topping of medicines" [value]="topping.id">{{topping.medicine}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-raised-button color="primary">Add</button>
                    </form>
                </mat-tab>
                <mat-tab label="Advice">
                    <mat-list>
                        <mat-list-item *ngFor="let n of advices"> {{ n.advice }} </mat-list-item>
                    </mat-list>
                    <form #adviceForm="ngForm" (ngSubmit)="advice(adviceForm.value); adviceForm.reset()" class="form">
                        <mat-form-field class="form-field">
                            <textarea matInput ngModel name="advice" placeholder="Advice"></textarea>
                        </mat-form-field>
                        <button mat-raised-button color="primary">Add</button>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
